<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.bglobalsourcing.www"
        versionCode="1"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Dirrect Fresh Phone App</name>

    <description>
        Dirrect Fresh Phone App Created by bGlobal Sourcing LLC, Developer: Md. Ziyed Uddin, Software Engineer.
    </description>

    <author href="http://www.bglobalsourcing.com" email="ziyed@bglobalsourcing.com">
        bGlobal Sourcing LLC
    </author>

    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>

    <preference name="webviewbounce" value="false" />

    <access origin="*" />

</widget>